<%= form_for(order) do |o| %>
  <%  if order.errors.any? %>
    <!-- <div id="error_explanation"> -->
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      </ul>
    </div>
<% end %>



  <div class="field_name">
    <%= o.label :product_name %>
    <%= o.text_field :product_name %>
  </div>

  <div class="field_count">
    <%= o.label :product_count %>
    <%= o.text_field :product_count %>
  </div>

  <div class="field_customer">
    <%= o.label :customer %>
    <div class="customers">
      <%= o.collection_select :customer_id, Customer.all, :id, :full_name, include_blank: true %>
    </div>
  </div>

  <div class="actions">
    <%= o.submit %>
  </div>
<% end %>
