<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
</p>

<p>
  <strong>Product Name:</strong>
  <%= @order.product_name %>
</p>
<p>
  <strong>Product Count:</strong>
  <%= @order.product_count %>
</p>
<p>
  <strong>Customer Name:</strong>
  <%= @order.customer.full_name %>
</p>

<p>
  <strong>Customer_ID:</strong>
  <%= @order.customer_id %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
